POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5433
POSTGRES_USER=rag_user
POSTGRES_PASSWORD=rag_password
POSTGRES_DB=rag_db
PGVECTOR_COLLECTION=documents

EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2

