fastmcp
langchain-core>=0.1.27
langchain-community>=0.0.24
langchain-huggingface>=0.0.1
sentence-transformers
langchain-ollama>=0.0.1
langchain-postgres>=0.0.6
psycopg2-binary>=2.9.9
pydantic-settings>=2.2.1
loguru
